/* CSS declarations go here */
.title-bar{
   background-color: green
}
.users{
   background-color: red
}
.row{
   background-color: yellow
}
.wall{
   background-color: darkseagreen
}
.column3{
   background-color: gray
 }
